@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
body{
    position: relative;
    max-width: 1680px; /*задаем максимальную ширину экрана*/
    height: 100vh; /*растягиваем изображение по высоте на весь экран*/
    background-image: url(/img/background.jpg); /*добавляем фон на страницу*/
    background-repeat: no-repeat; /*для того, что бы картинка не дублировалась на странице*/
    background-size: cover; /*растягиваем изображение по всей странице*/
    background-position: center; /*позиционируем изображение фона по центру*/

}


.container{
    margin: 0 auto;
    padding: 0 100px;
    max-height: 100vh;
    
}
.container__second{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 669px;
    width: 100%;
    max-height: 100vh;

}

.container__third{
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 100px;
    max-height: 100vh;
}
/* header style start */
.header{
    
    margin-top: 90px; /*задаем верхний отступ*/
    margin-bottom: 65px; /*задаем нижний отступ*/
}
.name{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 75px;
    color: #FFFFFF;
    width: 401px;
}
/* header style end */
 

/*info style start*/
.info{
    margin-top: 65px;
    max-width: 460px;
    
} 

.logo__info{
    display: grid;
    grid-template-columns: repeat(2, 205px);
    gap: 28px 50px;
    

}

.logo__title{
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
}
.logo__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
}
 /*info style end*/

/* tech style start */
.tech{
    margin-top: 45px;
    max-width: 460px;
    height: 173px;
}
    .tech__title__head{
    width: 71px;
    height: 25px;
    }

.tech__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    
}
.tech__positions{
    margin-top: 15px;
}
.tech__positions__title{
    margin: 17px 0px 1px 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
}
.index__line{
    width: 460px;
    height: 7px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.index__line__white{
    margin-top: -8px;
    width: 150px;
    height: 7px;
    border-radius: 10px;
    background: #FFFFFF;
}
/* tech style end */

/* Biography style start */
.biography__title__head{
    width: 148px;
    height: 25px;
}
.biography__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
}

.biography__text{
    margin-top: 15px;
    width: 460px;
    height: 150px;

}
.biography__text__desc{
    padding-top: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
    
    
}

/* Biography style end */
/* needs style start */

.needs__title__head{
    margin-top: 70px;
    width: 94px;
    height: 25px;
}
.needs__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    padding: 190px 0;
}
.needs__text{
    width: 457px;
    height: 170px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
    padding: 200px 15px;
    
}

/* needs style end */
/*points style start*/
.points__title__head{
    margin-top: 45px;
    width: 170px;
    max-height: 25px;
}
.points__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    padding: 485px 0 0;
    
}
.points__text{
    width: 460px;
    max-height: 75px;
    padding: 490px 0 0;
    
        
}
.points__text__desc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;    
}
/* points style end*/

/*photo style start*/
.text__photo{
    width: 380px;
    max-height: 105px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 562px 50px 0;
    
}
.text__photo__desc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.my__photo{
    width: 500px; 
    height: 750px;
    border-radius: 7px;
}







/*photo style end*/

