@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    background: url(/about-me/img/background.jpg) center/110% 110% no-repeat fixed; /*добавляем фон на страницу, прописываем команду, что бы картинка не дублировалась, размещаем фон по центру и фиксируем егоб что бы при изменении размера экрана фон оставался*/    
}    

.container{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container__one{
    width: 460px;
    height: 635px;
}
.container__second{
    margin: 97px 49px 118px 53px;
    width: 461px;
    height: 635px;
}
.container__third{
    margin: 50px 100px 50px 0;
    width: 460px;
    height: 750px;
}
/* header style start */
.header{
    width: 460px;
    height: 150px;
    margin-top: 90px;
    margin-bottom: 65px; 
}
.name{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 75px;
    color: #FFFFFF;
    width: 401px;

}
/* header style end */
 

/*info style start*/
.info{
    width: 460px;
    height: 202px;  
} 

.logo__info{
    display: grid;
    grid-template-columns: repeat(2, 205px);
    gap: 28px 50px;  
}

.logo__title{    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
}

.logo__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
 /*info style end*/


/* tech style start */
.tech{
    margin-top: 45px;
    width: 460px;
    height: 173px;
    margin-bottom: 125px;
}
    .tech__title__head{
    width: 71px;
    height: 25px;
    }

.tech__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    
}
.tech__positions{
    margin-top: 15px;
}
.tech__positions__title{
    margin: 17px 0px 1px 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
}
.index__line{
    width: 460px;
    height: 9px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.index__line__white{
    margin-top: -8px;
    width: 150px;
    height: 6px;
    border-radius: 10px;
    background: #FFFFFF;
}
/* tech style end */

/* Biography style start */
.biography{
    width: 460px;
    height: 215px;
    margin-bottom: 50px;
}
.biography__title__head{
    width: 148px;
    height: 25px;
}
.biography__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
}

.biography__text{
    width: 460px;
    height: 150px;

}
.biography__text__desc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
}

/* Biography style end */
/* needs style start */

.needs__title__head{
    width: 94px;
    height: 25px;
}
.needs__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
}
.needs__text{
    width: 457px;
    height: 170px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
    padding-left: 15px;
    
}

/* needs style end */
/*points style start*/
.points__title__head{
    margin-top: 180px;
    width: 170px;
    height: 25px;
}
.points__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.9;
    
}
.points__text{
    width: 460px;
    height: 75px;
    
        
}
.points__text__desc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;    
}
/* points style end*/

/*photo style start*/
.paragraph-7{
    position: relative; /*задаем относительное позиционирование для текста на фото*/
}

.text__photo__desc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    position: absolute; /*для текста на фото, что бы при заполнении текст уезжал вверх*/
    bottom: 5%; /*для текста на фото, что бы при заполнении текст уезжал вверх*/  
    padding: 0 30px;
    width: 440px;
}

.my__photo{
    margin-top: 50px;
    width: 460px; 
    height: 800px;
    border-radius: 7px;
}

/*photo style end*/

/*адаптив start*/
@media screen and (max-width: 1600px){
    .сontainer{
        padding: 0 550px;
    }
    .paragraph-7{
        padding-right: 500px;
    }
    
}
@media screen and (max-width: 992px){
    .container{
        padding-bottom: 0;
        grid-template-rows: repeat(1, 0);
    }
    .container__second{
        margin-top: 965px;
        display: flex;
        justify-content: space-between;
        margin-left: -450px;
        height: 100%;
    
    }
    .points__title__head{
        margin-top: -2px;
    }
    .paragraph-5{
        padding-left: 80px;
    }
    .paragraph-6{
        margin-left: -40px;

    }

}

@media screen and (max-width: 767px){
    .container__second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 155px);
 }
 .paragraph-6{
    margin-left: 0;
 }

}

@media screen and (max-width: 540px){
    
    .container{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    
        
    }
    .container__one{
        width: 100%;
    }
    .header{
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .name{
        width: 100%;
        font-size: 50px;
    }
    .logo__info{
        grid-template-columns: repeat(2, 1fr);
        gap: 9px 43px;
    }
    .tech{
        padding-right: 15px;
        width: 100%;
    }
    .index__line{
        width: 100%;
    }
    
    .index__line__white{
        width: calc(32.61% + (100 - 67.39) * ((100vw - 320px) / (540 - 320)));
    }
    .container__second{
        display: flex;
        flex-direction: column;
        order: 1;
        margin: -35px 0;
        padding-right: 15px;   
        width: 100%;
        height: 600px;
    }
   
    .biography{
        width: 100%;
        margin-bottom: 0;
    }
    .biography__text{
        width: 100%;
    }
    .paragraph-5{
    padding-left: 0;
    margin-top: -180px;
    width: 100%;
    }
    .needs__text{
        width: 100%;
    }
    .paragraph-6{
        margin-top: -230px;
        width: 100%;
    }
    .points__text{
        width: 100%;
    }
    
    
    .container__third{
        width: 100%; 
        margin-top: 250px;

    }
    .paragraph-7{
        padding-right: 15px;
        width: 100%;
       
}

.my__photo{
    margin-top: -50px;
    width: 100%;
    object-fit: cover;
}
.text__photo__desc{
    width: 100%;
    font-size: 25px;
}
}









   
/*адаптив end */
